header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pokeball {
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pokeball:hover {
    transform: scale(1.1);
}

h1 {
    cursor: pointer;
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
}

#searchPokemon {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: unset;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

#searchPokemon:focus {
    outline: none;
}


#pokemonContainer {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pokemon-container-style {
    height: 320px;
    width: 300px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pokemon-container-style:hover {
    transform: scale(1.1);
}

.name-id-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-id-container span {
    color: #ffffff99;
    font-weight: 900;
    font-size: 25px;
}

.pokeball-background {
    background-image: url('../img/pokeball.png');

}

.type-img-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type-container span {
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
}

.type-img-container img {
    width: 150px;
    height: 200px;
    transition: transform 0.3s ease;
}

.pokemon-container-style:hover img {
    transform: scale(1.2);
}

button {
    padding: 10px 20px;
    background-color: rgb(241 218 69);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(241, 218, 69, 0.746);
}

#bigScreenContainer {
    max-width: 1920px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bigScreenContainer svg {
    cursor: pointer;
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
}

#bigScreenContainer svg:hover {
    transform: scale(1.2);
}

.big-screen-container {
    width: 30%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    color: #ffffff99;
}

.description-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.upper-id {
    color: #ffffff99;
    font-weight: 900;
    font-size: 25px;
}

.upper-type {
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
}

.upper-container img {
    height: 270px;
    width: 100%;
    object-fit: contain;
    top: 50px;
}

.lower-container {
    border-radius: 20px;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px;
}

.lower-container h3 {
    text-align: center;
}

.big-type-container {
    width: 100%;
    margin-top: 10px;
}

.big-type-container span {
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
}

.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-button:hover {
    transform: scale(1.3);
}

@media(max-width: 1500px) {
    .big-screen-container {
        width: 40%;
    }
}

@media(max-width: 1200px) {
    .big-screen-container {
        width: 50%;
    }

    #bigScreenContainer svg {
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 900px) {
    .big-screen-container {
        width: 70%;
    }
}

@media(max-width: 700px) {
    .big-screen-container {
        width: 80%;
    }
}

@media(min-width: 501px) {
    .d-none {
        display: none;
    }
}

@media(max-width: 500px) {
    #bigScreenContainer {
        align-items: flex-start;
    }

    .big-screen-container {
        width: 100%;
        height: 100%;
    }

    #bigScreenContainer svg {
        width: 50px;
        height: 50px;
    }

    .arrow-left {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999;
    }

    .arrow-right {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 999;
    }

    .upper-container {
        border-radius: 0;
    }

    .lower-container {
        border-radius: 0;
    }
}